/*  Hide when Angular is not yet loaded and initialized */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.background {
  background-color: lightgray;
  height: 300px;
}
.top-padding {
  padding-top: 150px;
}
.form-header {
  height: 100px;
  position: relative;
}

.material-icons.md-40 {
  font-size: 40px;
}
.material-icons.lightblue300 { color: #02A8F3; }

#table h1 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: 0;
  font-weight: 300;
  color: #212121;
  text-transform: inherit;
  margin-bottom: 1rem;
  text-align: center;
}
#table h2 {
  font-size: 1.5rem;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
  font-weight: 400;
  color: #212121;
  text-align: center;
}

// Baseline styles
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: @table-bg;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      .transition(all .3s ease);
      > th,
      > td {
        text-align: left;
        padding: @table-cell-padding;
        vertical-align: top;
        border-top: 0;
        .transition(all .3s ease);
      }
    }
  }
  > thead > tr > th {
    font-weight: @table-header-font-weight;
    color: @table-header-font-color;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0,0,0,.12);
  }
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  > tbody + tbody {
    border-top: 1px solid rgba(0,0,0,.12);
  }

  // Nesting
  .table {
    background-color: @table-bg;
  }

  // Remove border
  .no-border {
    border: 0;
  }
}

/*---medical icons----*/
.icon-surgery {
  background-image:url('assets/ic_surgeon.png');
}
.icon-procedure {
  background-image:url('assets/ic_sthetoscope.png');
}
.icon-illness {
  background-image:url('assets/ic_pharmacy.png');
}
.icon-injury {
  background-image:url('assets/ic_crutch.png');
}
.icon-other {
  background-image:url('assets/ic_first_aid_kit.png');
}
.icon-food-allergy {
  background-image:url('assets/ic_antibiotic2.png');
}
.icon-drug-allergy {
  background-image:url('assets/ic_antibiotic.png');
}
.icon-hw {
  background-image:url('assets/ic_patient_information.png');
}

.errorMsg {
  color: #E64A19;
}
/*---timeline----*/
/*md-backdrop {
  display: none;
}
body{
  /*overflow: hidden*/
/*}*/
