<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Health Track</title>

    <!-- Angular Material -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Angular Timeline -->
    <link rel="stylesheet" href="bower_components/angular-timeline/dist/angular-timeline.css"/>
    <!-- My styles -->
    <link rel="stylesheet" href="/styles/styles.css"/>

  </head>

  <body ng-app='templateApp' ng-controller="AccountCtrl as account" ng-cloak class="l-offset-nav">
    <div layout='row'>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>
            <a href='http://localhost:8080/#/'>
              <span>Health Track</span>
            </a>
          </h2>
          <span flex></span>
          <div ng-show='!isSignedIn'>
            <md-button aria-label="Sign in" ng-click='account.signInLoad()'>Sign in</md-button>
            <md-button class='md-warn md-raised' aria-label="Sign up" ng-click='account.signUpLoad()'>Sign up</md-button>
          </div>
          <div ng-show='isSignedIn'>
            <md-button aria-label="Dashboard" ng-click='account.dashboardLoad()' ng-hide='account.isSignedIn'>Dashboard</md-button>
            <span class='md-body-2'>
              {{signedInUser}}
            </span>
            <md-button aria-label="Sign out" ng-click='account.signout()' ng-hide='account.isSignedIn'>Sign out</md-button>
          </div>
        </div>
      </md-toolbar>
    </div>
    <div ng-view ></div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <!--Angular-Route -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular-route.js"></script>
    <!-- ng-Messages -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <!-- Angular Timeline -->
    <script src="bower_components/angular-timeline/dist/angular-timeline.js"></script>
    <!-- jQuery -->
    <script   src="https://code.jquery.com/jquery-2.2.2.js"   integrity="sha256-4/zUCqiq0kqxhZIyp4G0Gk+AOtCJsY1TA00k5ClsZYE="   crossorigin="anonymous"></script>
    <!-- app files -->
    <script src='js/app.js'></script>
    <script src='js/controllers.js'></script>
    <script src='js/services.js'></script>
    <script src='js/routes.js'></script>
    <script src='js/directives.js'></script>
  </body>

</html>
