<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Health Track</title>

    <!-- Angular Material -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <!-- My styles -->
    <link rel="stylesheet" href="/styles/styles.css"/>
  </head>

  <body ng-app='templateApp' ng-controller="MainController as main" ng-cloak class="l-offset-nav">
    <div layout='row'>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>
            <span>Health Track</span>
          </h2>
          <!-- <md-button aria-label="Dashboard">Dashboard</md-button> -->
          <span flex></span>
          <md-button aria-label="Sign in">Sign in</md-button>
          <md-button class='md-warn md-raised' aria-label="Sign up">
            Sign up
          </md-button>
        </div>
      </md-toolbar>
    </div>
    <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">
      <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="1"></md-grid-tile>
      <md-grid-tile md-rowspan="2" md-colspan="2" md-colspan-sm="1">

        <div ng-controller="AccountCtrl as account" layout="column" ng-cloak class="md-inline-form top-padding" flex>
          <md-grid-tile-header class='form-header'>
            Welcome to Health Track
          </md-grid-tile-header>

          <md-content layout-padding>
            <div>
              <form name="userForm" ng-submit='account.submit({firstname: firstname, lastname: lastname, email: email, password: password})'>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>First name</label>
                    <input ng-model="firstname" value='firstname'>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Last name</label>
                    <input ng-model="lastname" value='lastname'>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Email</label>
                    <input ng-model="email" value='email'>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Password</label>
                    <input ng-model="password" value='password'>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Retype password</label>
                    <input ng-model="verifypass" value='verifypass'>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <md-button class='md-default md-raised'>Cancel</md-button>        
                    <md-button class='md-warn md-raised' type='submit'>Submit</md-button>

                  </md-input-container>
                </div>
              </form>
            </div>
          </md-content>
        </div>
      </md-grid-tile>

    </md-grid-list>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <!-- app files -->
    <script src='js/app.js'></script>
    <script src='js/controllers.js'></script>
    <script src='js/services.js'></script>
  </body>

</html>
