<md-bottom-sheet class="md-list md-has-header" ng-cloak>

  <md-list>
    <span class="md-title">Demo Credentials
    </span>
    <md-list-item>
      <p>
        <strong>Email:
        </strong>
        davey@email.com
      </p>
    </md-list-item>
    <md-list-item>
      <p>
        <strong>Password:
        </strong>
        password
      </p>
    </md-list-item>
        <md-button ng-click='footer.signInLoad()' class='md-primary md-raised'>Go to Sign In Page</md-button>
      <!-- </md-list-item> -->
    </md-list>
  </md-bottom-sheet>
