<!-- Health Events -->
<md-icon ng-if='event.type === "surgery"' md-svg-icon="styles/assets/medical-1.svg" class='icon-svg'></md-icon>
<md-icon ng-if='event.type === "procedure"' md-svg-icon="styles/assets/tool-1.svg" class='icon-svg'></md-icon>
<md-icon ng-if='event.type === "illness"' md-svg-icon="styles/assets/temperature.svg" class='icon-svg'></md-icon>
<md-icon ng-if='event.type === "injury"' md-svg-icon="styles/assets/people.svg" class='icon-svg'></md-icon>
<md-icon ng-if='event.type === "otherEvent"' md-svg-icon="styles/assets/medical.svg" class='icon-svg'></md-icon>
<!-- Health categories-->
<md-icon ng-if='event.type === "foodAllergy"' md-svg-icon="styles/assets/food.svg" class='icon-svg'></md-icon>
<md-icon ng-if='event.type === "drugAllergy"' md-svg-icon="styles/assets/medical-3.svg" class='icon-svg'></md-icon>
<md-icon ng-if='event.type === "otherCat"' md-svg-icon="styles/assets/medical.svg" class='icon-svg'></md-icon>
<!-- Height Weight -->
<md-icon ng-if='event.height === "height"' md-svg-icon="styles/assets/tool.svg" class='icon-svg'></md-icon>
<md-icon ng-if='event.weight === "weight"' md-svg-icon="styles/assets/tool-1.svg" class='icon-svg'></md-icon>
