
<img src='./styles/assets/family-picnic.jpg' class='background'/>
<!-- <md-grid-list md-cols"12" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="3:3" md-gutter-gt-sm="8px"> -->
<md-grid-list md-cols="12" md-cols-gt-md="12" md-row-height="4:3" md-gutter-gt-sm="8px">
<md-grid-tile md-rowspan="4" md-colspan="12" md-colspan-sm="1"></md-grid-tile>
  <md-grid-tile md-rowspan="2" md-colspan="1" md-colspan-sm="1">
  </md-grid-tile>
  <md-grid-tile md-rowspan="2" md-colspan="6" md-colspan-sm="1">
    <div layout="column" flex>
        <md-card class='home-cards'>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Good health starts with the right information
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p>
              Knowing your health history is just as important as going to the doctor, but keeping track of your family’s medical history is often complicated or overlooked.
            </p>
            <p>
              With Health Track, you can easily store your family medical history in one place. Health Track keeps the records for you, so you can have peace of mind when it comes to discussing your family’s health history with your doctor.
            </br>
            </p>
          </md-card-content>
        </md-card>
    </div>
  </md-grid-tile>
  <md-grid-tile md-rowspan="2" md-colspan="4" md-colspan-sm="1">
    <div layout="column" flex>
      <md-card class='home-cards'>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Get started today</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-list>
            <md-list-item>
              Create profiles for you and your family members
            </md-list-item>
            <md-list-item>
              Add health events like diseases or illnesses
            </md-list-item>
            <md-list-item>
              View a health history timeline for each profile
            </md-list-item>
            <md-list-item>
              Search health conditions in your family
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </div>
  </md-grid-tile>
  <md-grid-tile md-rowspan="2" md-colspan="1" md-colspan-sm="1"></md-grid-tile>
  <md-grid-tile md-rowspan="1" md-colspan="3" md-colspan-sm="1">
  <div layout-align='start end' flex>
    <md-button flex="50" class="md-accent md-raised" ng-click="account.showListBottomSheet()">Viewing as Demo?</md-button>
  </div>
  </md-grid-tile>
<md-grid-tile md-rowspan="1" md-colspan="12" md-colspan-sm="1">
  <footer class="md-toolbar-tools attr" layout-align='center center'>
    <div >
      <p class='tiny-text'>
        Built by
        <a href='http://saundie.com/'>
          <strong>Saundie Weiss</strong>
        </a>
      </p>
      <p class='tiny-text'>
        Icons by
        <a href='https://www.flaticon.com/authors/popcic'>
          <strong>Popcic</strong>
        </a>
        and
        <a href='https://www.flaticon.com/authors/freepik'>
          <strong>Freepic</strong>
        </a>
      </p>
    </div>
  </footer>
</md-grid-tile>
</md-grid-list>
