<header>
  <div class='background'>
  </div>
</header>
<md-content class='background'>
  <div flex layout='row' layout-align='center start'>
    <div flex='50' layout='column'>
      <div flex layout-fill>
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Know your health history</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
            </p>
          </md-card-content>
        </md-card>
      </div>
    </div>
    <div flex='30' layout='column'>
      <div flex layout-fill>
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Get started today!</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <ul>
              <li>
                Keep records of your entire family's health history
              </li>
              <li>
                Get a full picture of your own health history
              </li>
              <li>
                Track important health events in your life
              </li>
              <li>
                Share with your doctor
              </li>
            </ul>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
<md-button flex="50" class="md-accent md-raised" ng-click="account.showListBottomSheet()">Viewing as Demo?</md-button>
</md-content>
