<header>
  <div class='background'></div>
</header>
<md-content class='background'>
  <div flex layout='row' layout-align='center start'>
    <div flex='50' layout='column'>
      <div flex layout-fill>
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Good health starts with the right information
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p>
              Knowing your health history is just as important as going to the doctor, but keeping track of your family’s medical history is often complicated or overlooked.
            </p>
            <p>
            With Health Track, you can easily store your family medical history in one place. Health Track keeps the records for you, so you can have peace of mind when it comes to discussing your family’s health history with your doctor.
          </p>
        </md-card-content>
      </md-card>
    </div>
  </div>
  <div flex='30' layout='column'>
    <div flex layout-fill>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Get started today</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <ul>
            <li>
              Create a health profile for yourself
            </li>
            <li>
              Set up profiles for each of your family members
            </li>
            <li>
              Add health events like diseases or illnesses
            </li>
            <li>
              View a health history timeline for each profile
            </li>
            <li>
              Search for health conditions in your family
            </li>
          </ul>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center"></md-card-actions>
      </md-card>
    </div>
  </div>
</div>
<md-button flex="50" class="md-accent md-raised" ng-click="account.showListBottomSheet()">Viewing as Demo?</md-button>
</md-content>
