<div flex layout='row' layout-align='center start'>
  <h1>Add family members</h1>
</div>

<div layout='row' flex>
  <div flex='20'></div>
  <div flex>
    <div ng-cloak>
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Immediate Family">
            <md-content class="md-padding">
              <form name='yourForm'>
                <div layout-gt-sm="row">
                  <md-input-container>
                    <label>Name</label>
                    <input ng-model='family.name' name='Name'>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container>
                    <label>Relation to you</label>
                    <md-select ng-model="family.relations" name='relations'>
                      <sw-relation-selector></sw-relation-selector>
                    </md-select>
                  </md-input-container>
                </div>

                <div layout-gt-sm='row'>
                  <md-input-continer>
                    <label>Date of Birth</label>
                    <md-datepicker ng-model="family.dob" name='dob' md-placeholder="Enter date"></md-datepicker>
                  </md-input-continer>
                </div>
                <div layout-gt-sm='row'>
                  <md-input-continer>
                    <label>Date of Death</label>
                    <md-datepicker ng-model="family.dod" name='dobd' md-placeholder="Enter date"></md-datepicker>
                  </md-input-continer>
                </div>
                <div class="md-actions" layout="column" layout-align="center start">
                  <md-button class='md-accent md-raised' ng-click='family.submitYourFamily({name: family.name, relationship: family.relations, dob: family.dob,dod: family.dod})'>Add</md-button>
                </div>
              </form>
            </md-content>
          </md-tab>
          <md-tab label="Mother's Side">
            <md-content class="md-padding">
              <form name='yourForm'>
                <div layout-gt-sm="row">
                  <md-input-container>
                    <label>Name</label>
                    <input ng-model='family.mName' name='mName'>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container>
                    <label>Relation to your mother</label>
                    <md-select ng-model="family.mRelations" name='mRelations'>
                      <sw-relation-selector></sw-relation-selector>
                    </md-select>
                  </md-input-container>
                </div>

                <div layout-gt-sm='row'>
                  <md-input-continer>
                    <label>Date of Birth</label>
                    <md-datepicker ng-model="family.mDob" name='mDob' md-placeholder="Enter date"></md-datepicker>
                  </md-input-continer>
                </div>
                <div layout-gt-sm='row'>
                  <md-input-continer>
                    <label>Date of Death</label>
                    <md-datepicker ng-model="family.Mdod" name='Mdod' md-placeholder="Enter date"></md-datepicker>
                  </md-input-continer>
                </div>
                <div class="md-actions" layout="column" layout-align="center start">
                  <md-button ng-click='family.submitMothersSide()' class='md-accent md-raised'>Add</md-button>
                </div>
              </form>
            </md-content>
          </md-tab>
          <md-tab label="Father's Side">
            <md-content class="md-padding">
              <form name='yourForm'>
                <div layout-gt-sm="row">
                  <md-input-container>
                    <label>Name</label>
                    <input ng-model='family.fName' name='fName'>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container>
                    <label>Relation to your father</label>
                    <md-select ng-model="family.fRelations" name='fRelations'>
                    <sw-relation-selector></sw-relation-selector>
                    </md-select>
                  </md-input-container>
                </div>
                <div layout-gt-sm='row'>
                  <md-input-continer>
                    <label>Date of Birth</label>
                    <md-datepicker ng-model="family.fDob" name='fDob' md-placeholder="Enter date"></md-datepicker>
                  </md-input-continer>
                </div>
                <div layout-gt-sm='row'>
                  <md-input-continer>
                    <label>Date of Death</label>
                    <md-datepicker ng-model="family.fDod" name='fDod' md-placeholder="Enter date"></md-datepicker>
                  </md-input-continer>
                </div>
                <div class="md-actions" layout="column" layout-align="center start">
                  <md-button ng-click='family.submitFathersSide()' class='md-accent md-raised'>Add</md-button>
                </div>
              </form>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
  </div>
  <div flex='20'></div>
</div>
