<md-dialog aria-label="search dialog" ng-controller='AccountCtrl as account' ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Search health conditions in your family</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="search.cancel()" aria-label='Cancel'>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <form ng-submit="$event.preventDefault()">
        <p>Search for a disease, illness, or any health event to see any relatives with that condition.</p>
        <md-autocomplete
            md-selected-item="search.selectedItem"
            md-search-text="search.searchText"
            md-items="item in search.querySearch(search.searchText)"
            md-item-text="item.display"
            md-min-length="0"
            placeholder="Example: celiac">
          <md-item-template>
            <span md-highlight-text="search.searchText" md-highlight-flags="^i">{{item.display}}</span>
          </md-item-template>
          <md-not-found>
            No health conditions matching "{{search.searchText}}" were found.
          </md-not-found>
        </md-autocomplete>
      </form>
    </div>
    <!-- {{search.filteredArray}} -->
    <div flex layout='row' layout-align='center start'>
      <div id='table'>
        <div>

          <table id="table" class="table table-hover table-mc-light-blue">
            <tbody ng-repeat='relation in search.filteredArray'>
              <tr>
                <td >{{relation.name}}</td>
                <td >{{relation.relationship}}</td>
                <td>{{relation.dob | date:"MM/dd/yyyy"}}</td>
                <td>{{relation.dod | date:"MM/dd/yyyy"}}</td>
                <td>
                  <md-button class="md-raised md-primary" aria-label="View profile" ng-click='account.newRelationProfileLoad(relation.id)'>
                    View profile
                  </md-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
      <md-button aria-label="Cancel" ng-click="search.cancel($event)">Close</md-button>
    <md-button aria-label="Find" ng-click="search.find($event, search.searchText)">Find</md-button>
  </md-dialog-actions>
</md-dialog>
