<div flex layout='row' layout-align='center start' id="popupContainer">
  <h2>Your Health Events Timeline</h2>
</div>
<div flex layout='row' layout-align='center start'>
  <div>
    <md-input-container>
      <label>From age:</label>
      <input ng-model="profile.startAge">
    </md-input-container>
  </div>
  <div>
    <md-input-container>
      <label>To age:</label>
      <input ng-model="profile.endAge">
    </md-input-container>
  </div>
</div>
<div flex layout='row' layout-align='center start'>
  <md-button class='md-default md-raised' aria-label='Reset' ng-click='profile.filterTimeline(0, 100)'>Reset</md-button>
  <md-button class='md-primary md-raised' aria-label='Filter' ng-click='profile.filterTimeline(profile.startAge, profile.endAge)'>Filter</md-button>
</div>
<div layout='row' flex>
  <div flex='20'></div>
  <div flex>
    <timeline id='timeline-overrides'>
      <timeline-event ng-repeat="event in profile.healthDataArray |orderBy: '-date'">
        <timeline-badge class='badge'>
          <md-button class="md-icon-button" aria-label="event icon" ng-click='profile.showDetailsToggle(event)'>
            <!-- <div > -->
            <!-- <md-icon ng-if='event.type === "procedure"' md-svg-icon="styles/assets/tool.svg"></md-icon>
            <md-icon ng-if='event.type === "illness"' md-svg-icon="styles/assets/pill.svg"></md-icon> -->
            <sw-health-icons></sw-health-icons>
            <!-- <md-icon md-svg-icon=''></md-icon> -->
          </md-button>
        </timeline-badge>

        <timeline-panel >
          <timeline-heading >
            <!-- <h4>{{event.date | date:"MM/dd/yyyy"}}</h4> -->
            <h3>{{event.name}}: {{event.date | date:"MM/dd/yyyy"}}</h3>
          </timeline-heading>
          <div id='{{event.id}}' class='detailsCards'>
            <!-- <h3>{{event.name}}</h3> -->
            <p>{{event.description}}</p>
            <!-- <h3>{{event.height}}</h3>
            <h3>{{event.weight}}</h3> -->
          </div>
        </timeline-panel>
      </timeline-event>
      <!-- <div>
        {{profile.detailsObj}}
      </div> -->
    </timeline>
  </div>
  <div flex='20'></div>

</div>
