<div flex layout='row' layout-align='center start'>
  <h2>{{family.title}}</h2>
</div>
<!-- <div>
<pre>
  {{family.familyData}}
</pre>
<md-button class='md-primary md-raised' ng-click='family.test()'>Click to send data</md-button>
</div> -->
<div flex layout='row' layout-align='center start'>
  <div id='table'>
    <h2>Grandparents</h2>
    <div>
      <!-- Table starts here -->
      <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
          <tr>
            <th>Relative</th>
            <th>Name</th>
            <th>DOB</th>
            <th>DOD</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td >Mother's father</td>
            <td >Donald Adams</td>
            <td>
              May 5, 1935</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td >Mother's father</td>
            <td >Donald Adams</td>
            <td>
              May 5, 1935</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td >Mother's father</td>
            <td >Donald Adams</td>
            <td>
              May 5, 1935</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
